{% extends 'base.html' %}
{% load cart_tag %}
{% block content %}
    <div class="container my-5">
        <div class="my-5">
            <h2>Your Orders</h2>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Order Date</th>
                    <th scope="col">Arrival Date</th>
                    <th scope="col" style='text-align: right;'>Detail View</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <th scope="row">Order {{ forloop.counter }}</th>
                        <td> 
                            Order Date:
                            {{ order.orderdate }}
                        </td>
                        <td> 
                            Arrival Date:
                            {{ order.shippingdate }}
                        </td>
                        <td colspan="3" class="text-right ">
                            <a href="{% url 'mainapp:orders-detail' order.pk %}" class="mr-4">Detail View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <a href="{% url 'mainapp:orders-purge' %}"><th scope="col" style='text-align: right;'>Purge Order History</th></a>
                </tr>
            </thead>
        </table>
    </div>
{% endblock content %}
