{% extends 'base.html' %}
{% load cart_tag %}
{% block content %}
    <div class="container my-5">
        <form action="{% url 'mainapp:checkout' %}" method="GET">
            <input name="address" type="text" placeholder="address">
            <input name="city" type="text" placeholder="city">
            <input name="province" type="text" placeholder="province">
            <input name="postal-code" type="text" placeholder="postal-code">
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="container my-5">
        <div class="my-5">
            <h2>Your Cart {{ request.user| cart_total_quantity }}</h2>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col" style='text-align: right;'>Price</th>
                </tr>
            </thead>
            <tbody>
                {% for cart in cart_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ cart.item.name }}</td>
                        <td>
                            {{ cart.quantity }}
                        </td>
                        <td style='text-align: right;'>$ {{ cart.get_total }} </td>
                    </tr>
                {% endfor %}
                <tr>
                    <th scope="row"></th>
                    <td colspan="2">Total</td>
                    <td style='text-align: right;'>{{ request.user | cart_total_sum | floatformat:2 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}